@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap");
/* ====================================================================================== */
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	object-fit: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
/* ====================================================================================== */
:root {
	/* Colors */
	--yellow-color: hsl(47, 88%, 63%);
	--white-color: hsl(0, 0%, 100%);
	--grey-color-500: hsl(0, 0%, 42%);
	--grey-color-950: hsl(0, 0%, 7%);
	--blue-color: hsl(228, 45%, 44%);

	/* Typography */
	--font-main: "Figtree", sans-serif;

	/* Font-size */
	--fs-16-14: clamp(0.875rem, 0.831rem + 0.1875vw, 1rem);
	--fs-24-20: clamp(1.25rem, 1.162rem + 0.3754vw, 1.5rem);
	--fs-14-12: clamp(0.75rem, 0.706rem + 0.1877vw, 0.875rem);
}
/* ====================================================================================== */
body {
	font-family: var(--font-main);
	font-weight: 500;
	color: var(--grey-color-950);
	line-height: 1.5;
	font-size: var(--fs-16-14);
	background-color: var(--yellow-color);
}
.wrapper {
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	/* justify-content: center;
	align-items: center; */
	padding-inline: 15px;
}
main {
	/* flex: 1 1 auto; */
	margin: auto;
}
/* ====================================================================================== */
.card {
	max-width: 384px;
	margin: auto;
	padding: 24px;
	border-radius: 20px;
	border: 1px solid var(--grey-color-950);
	background-color: var(--white-color);
	box-shadow: 8px 8px 0 0 #000;
	display: grid;
	gap: 24px;
}
.card__body {
	display: grid;
	gap: 12px;
}
.card__link-image {
	overflow: hidden;
	border-radius: 10px;
}
.card__image {
	aspect-ratio: 336 / 200;
	width: 100%;
	transition: transform 0.4s;
}
.card__link-image:hover .card__image,
.author__link-image:hover .author__avatar {
	transform: scale(1.1);
}
.card__label,
.card__date {
	justify-self: start;
	font-size: var(--fs-14-12);
}
.card__label {
	padding: 4px 12px;
	border-radius: 4px;
	background-color: var(--yellow-color);
	font-weight: 800;
}
.card__title {
	font-weight: 800;
	font-size: var(--fs-24-20);
	transition: color 0.4s;
}
.card__title span {
	text-transform: uppercase;
}
.card__link-title:hover .card__title,
.card__link-title:focus .card__title {
	color: var(--yellow-color);
}
.author {
	display: flex;
	align-items: flex-start;
	gap: 12px;
}
.author__about {
	align-self: center;
	display: grid;
	gap: 5px;
	font-size: var(--fs-14-12);
}
.author__link-image {
	overflow: hidden;
	border-radius: 50%;
	flex-shrink: 0;
}
.author__avatar {
	aspect-ratio: 32 / 32;
	width: 100%;
	transition: transform 0.4s;
}
.author__name {
	font-weight: 800;
	text-transform: capitalize;
	transition: text-decoration 0.4s;
}
.author__link-name:hover .author__name,
.attribution a:hover {
	text-decoration: underline;
}

.attribution {
	padding-block: 5px;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: var(--blue-color);
	transition: text-decoration 0.4s;
}
